*{
  font-family: "Montserrat";
}
.html{
  background-color: whitesmoke
}
.body{
  margin: 0;
}
.header{
  background-color: black;
  text-align: center;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.hero{
  text-align: center;
  margin-top: 200px;
}
.hero-title{
  color: rgba(48, 48, 48, 1);
  margin-bottom: 10px;
  font-size: 72px;
} 
.hero-subtitle{
  color:rgba(171, 171, 171, 1);
  font-size: 24px; 
  margin-bottom: 100px;
  text-transform: uppercase;
}
.hero-images{
  display: flex;
  justify-content: space-between; 
  gap: 20px;
  width: 1199px; 
  margin-left: auto;
  margin-right: auto;
}
.images{
  width: 284px;
  height: 400px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  transition: all 1s ease;
}
.animation-zoom:hover{
  background-size: 120%;
}
.tour-destinations{
  display: flex; 
  margin-top:200px;  
  justify-content: space-between;
  width: 1199px; 
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.destinations{
  width: 358px; 
  height: 796px;
}
.destination-headers{
  margin-bottom: 80px;
}
.destination{
  display: flex;
  align-items: center;
  gap: 20px;
}
.destination-bg{
  height: 40px;
  width: 25px;
  border-right: 
  2px dotted black; 
}
.day{
  font-weight: bold; 
  width: 50px;height: 50px; 
  background-color: black; 
  border-radius: 50px; 
  color: rgba(22, 169, 74, 1);
  display: flex;
  align-items: center;
  justify-content: center; 
  font-size: 15px;
  cursor: pointer;
}
.day:hover{
  background-color: rgb(74, 74, 74);
}
.day:hover img{
  background-color: rgb(74, 74, 74);
  display: block;
}
.day img{
height: 850px;
width: 700px;
display: none;
position: absolute;
top: 0;
right: 0px; 
border-radius: 16px;
}
.location{
  display: flex;
  flex-direction: column;
}
.map-img{
  width: 692px; 
  height: 845px;
  border-radius: 20px;
}
.tour-duration{
  color: rgba(171, 171, 171, 1);
  font-size: 24px;
  text-transform: uppercase;
}
.destination-header{
  color: rgba(48, 48, 48, 1); 
  font-size: 48px;
  margin-bottom: 80px;
}
.location-name{
  font-weight: bold; margin-bottom: 5px
}
.location-city{
  color: gray
}
.pricing-title{
  text-align: center; 
  color: rgba(171, 171, 171, 1);
  font-size: 24x; 
  text-transform: uppercase;
  margin-top: 200px;
}
.pricing-subtitle{
  text-align: center; 
  margin-bottom: 80px;
  color:  rgba(48, 48, 48, 1); 
  font-size:48px
}
.pricing-cards{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width:590px; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 250px
}
.card{
  background-color: white;
  height: 250px;
  width: 285px; 
  padding: 50px; 
  border-radius: 24px;
  border: 2px solid white;
  font-size: 15px;
  cursor: pointer;
}
.card:hover {
  border: 2px solid rgba(24, 186, 81, 1)
}
.card-title{
  margin: 0;
  color: rgba(48, 48, 48, 1);
  font-size: 20px
}
.card-items:hover {
  font-weight: bold
}
.card-container{
  min-height: 150px
}
.card-items{
  margin-bottom: 10px
}
.luxury-starter-packs{
  color:rgba(119, 119, 119, 1);
}
.total-cost{
  margin-left: 80px
}
.order{
  background-color:rgba(23, 23, 23, 1); 
  margin-top: 150px;
  padding-top: 150px;
  padding-bottom: 150px;
  gap: 10px; 
  text-align: center
}
.order-intro-text{
  font-size: 32px; 
  font-weight: bold;
  text-align: center;
  color: white;
}
.order-button{
  background-color: rgba(24, 186, 81, 1);
  color: white;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  gap: 10px; 
  font-weight: bold;  
  font-size: 16px;
  text-decoration: none;
  text-align: center
}
.order-button:hover{
  background-color: rgb(106, 205, 106)
}
.footer-content{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 228px;
  bottom: 0;
  left: 0; 
  width: 100%;
}
.footer-logo{
  background-color: black;
  font-weight: bold; 
  font-size: 28px;
  display: flex; 
  justify-content: space-between;
  width: 1200px;
  height: 68px;
  color: white
}
.social-links{
  background-color: black; 
  display: flex; 
  align-items: center; 
  justify-content: flex-end; 
  width: 381px;
  height: 44px;
  gap: 20px
}
.facebook-profile{
  display: flex;
  align-items: center
}
.social-link{
 background-color: rgba(48, 48, 48, 1); 
 font-weight: bold;
 font-size: 18px; 
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
 width: 168px;
 height: 44px; 
 border-radius: 4px; 
 gap: 10px;
 text-decoration: none;
}
.social-link:hover{
  background-color: rgb(95, 95, 95);
}
.page-title{
  text-align: center;
  color: rgba(48, 48, 48, 1);
  margin-bottom: 10px;
  margin-top: 200px;
  font-size: 72px;
  margin-top: 200px;
}
.section-title{
  font-size: 32px;
  text-align: center;
  margin-top: 190px;
  margin-bottom: 50px
}
.plan-selection{
  display: flex;
  gap: 10px;
  justify-content: center;
  font-size: 15px;
  cursor: pointer;
}
.contact-title{
  font-size: 32px;
  text-align: center;
  margin-top: 220px;
  margin-bottom: 1000px;
}
.plan-packs{
  width: 317px;
  height: 97px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; 
  border-radius: 8px;
  font-size: 24px;
  border: 2px solid white;
}
.plan-packs:hover{
  border: 2px solid rgba(48, 48, 48, 1); 
}
